<launch>
  <arg name="images_directory" default="$(find blender_rgbd_ros)/sample_dataset"/>

  <node pkg="blender_rgbd_ros" type="depth_rgb_pub.py" name="depth_rgb_pub" output="screen">
    <param name="rate" value="24" />
    <param name="loop_images" value="true" />
    <param name="images_directory" value="$(arg images_directory)" />
    <param name="depth_image/scale" value="5" />
    <!-- Depth image noise parameters -->
    <!-- Noise type can be: gauss, poisson, salt_pepper, speckle -->
    <param name="depth_image/noise_type" value="none" />
    <param name="depth_image/noise/gauss/mean" value="0.0" />
    <param name="depth_image/noise/gauss/variance" value="250.0" />
    <param name="depth_image/noise/salt_pepper/ratio" value="0.1" />
    <param name="depth_image/noise/salt_pepper/amount" value="0.1" />
    <param name="depth_image/noise/poisson/gain" value="15.0" />
    <param name="depth_image/noise/speckle/gain" value="0.01" />
    
    <param name="camera_info/frame_id" value="camera" />
    <param name="camera_info/sensor_width" value="32.0" />
    <param name="camera_info/focus" value="29.47" />
    <param name="camera_info/width" value="640" />
    <param name="camera_info/height" value="480" />
    <param name="camera_info/distortion_model" value="plumb_bob" />
  </node>

</launch>